{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/forAllForm.css' %}">
    <title>Dashboard</title>
</head>

<body>
    {% include 'logined/navbar.html' %}

    <div class="container-fluid">
        {% include 'logined/sidebar.html' %}

        <!-- Content -->
        <div class="col">
            <div class="container-fluid p-3">
                <div class="container mt-4 pt-1 fcontainer">
                    <h2>Add Purchase Order Details</h2>
                    <form class="row g-3 pt-3 mt-2 " action="{% url 'po_add' %}" method="post">
                        {% csrf_token %}

                        <!-- PO No -->
                        <div class="col-md-4 mb-3 px-4">
                            <label for="po_no" class="form-label">P.O No:</label>
                            <input type="text" class="form-control" id="po_no" name="po_no">
                        </div>

                        <!-- Supplier Name/Address -->
                        <div class="col-md-4 mb-3 px-4">
                            <label for="supplier_nameaddress" class="form-label">Supplier Name/Address:</label>
                            <select class="form-select" id="supplier_nameaddress" name="supplier_nameaddress">
                                {% for vendor in vendors %}
                                <option value="{{ vendor }}">{{ vendor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <!-- Quotation no. -->
                        <div class="col-md-4 mb-3 px-4">
                            <label for="quotation_no" class="form-label">Quotation No:</label>
                            <input type="text" class="form-control" id="quotation_no" name="quotation_no">
                        </div>

                        <!-- Date of Order -->
                        <div class="col-md-4 mb-3 px-4">
                            <label for="date_of_q" class="form-label">Date of Quotation:</label>
                            <input type="date" class="form-control" id="date_of_q" name="date_of_q">
                        </div>

                        <!-- Amount -->
                        <div class="col-md-4 mb-3 px-4">
                            <label for="total_amount" class="form-label">Total Amount:</label>
                            <input type="number" class="form-control" id="total_amount" name="total_amount" step="0.01">
                        </div>

                        <!-- Submit Button -->
                        <div class="col-12 px-4">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
