{% load static %}
<!-- header.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom p-1 ">
    <div class="container">
        

        <a class="navbar-brand d-lg-none text-white fw-semibold" href="#">Welcome {{ user.username }}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-none d-lg-block text-white fw-semibold" href="#">Welcome {{ user.username }}</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> <span class="ms-2 d-none d-sm-inline">{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'setting' %}">Setting</a></li>
                        <li><a class="dropdown-item" href="/signout">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>